.return {
    position: fixed;
    top: 15px;
    left: 15px;
}
.formulary {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.left-form {
    width: 50%;
}
.left-form img {
    width: 80%;
    border-radius: 0 50px 50px 0;
}
.right-form {
    width: 50%; 
}
.border {
    border: 1px solid black; 
    padding: 5% 1%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
input {
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 0px 2px;
    height: 50px;
}
::placeholder {
    color: rgba(0, 0, 0, 0.301);
    margin: 0px 2px;

}

#name {
    width: 40%;
}
#surname {
    width: 40%;
}
#email {
    width: 40%;
}
#message {
    width: 40%;
}