.return {
    position: fixed;
    width: 30px;
    top: 15px;
    left: 15px;
}
.link-logistas {
    width: 100%;
    display: flex;
    line-height: 100vh;
    justify-content: space-around;
}
.link-logistas {
    width: 100%;
}
.link-logistas img {
    width: 400px;
}
.info {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #add3e6;
    color: #4e8ebf;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .return {
        position: fixed;
        top: 20px;
        left: 15px;
    }
    .return img {
        width: 50px;
    }
    .link-logistas img {
        width: 300px;
    }
}
@media screen and (max-width: 650px) {
    .link-logistas img {
        width: 180px;
    }
}
@media screen and (max-width: 400px) {
    .link-logistas img {
        width: 120px;
    }
}