@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');


/*------------------------------------ PRÉ DEFINIÇÕES ------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFFFFF 50%, var(--cor-fundo) 50%);
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {

    padding: 0;
}
:root {
    --cor-fundo: #d9f5fc;
    --botoes: #68a7cf;
    --fonte-escura: #4e8ebf;
    --hover-font: #add3e6;
    --back-button: #82c0df;
  }
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}
#overlay.overlay-active {
    display: block;
}
body.no-scroll {
    overflow: hidden;
}

/*------------------------------------ PRÉ DEFINIÇÕES ------------------------------------*/










/*------------------------------------ SCROLL 1 ------------------------------------*/
    #scrll1 {
        scroll-snap-align: start;
        overflow-y: scroll;
        height: 100vh;
        overflow: hidden;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2%;
    }
    .menu-content {
        width: 50%;
        display: flex;
        justify-content: center; 
        height: 50px;
        
    }
    li {
        margin-left: 50px; 
        margin-right: 50px; 
        list-style: none;
        width: 100px;
        line-height: 50px;
        color: var(--fonte-escura);
        font-size: 14pt;
    }
    li:hover{
        color: var(--hover-font);
    }
    .btn-act{
        display: none;
    }
    .logo-menu img{
        display: none;
        width: 70px;
    }
    .icon-contacts img, .icon-locale img, .icon-logists img {
        display: none;
    }
    .center-home-logo{
      display: flex;
      justify-content: center;
      margin-top: 10vh;
    }
    .logo img{
        width: 500px;
    }
    .arrow img{
        width: 40px;
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
    .ativa-contatos {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 70px;
        background-color: transparent;
        border: none;
        z-index: 100 ;
    }
    .btnW, .btnI, .btnF{
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
        transition: 1s;
    }
    .btnW-Actived {
        display: initial;
        right: 100px;
        bottom: 20px;
        z-index: 100;
        transition: 1s;
    }
    .btnI-Actived {
        display: initial;
        right: 90px;
        bottom: 77px;
        z-index: 100;
        transition: 1s;
    }
    .btnF-Actived {
        display: initial;
        right: 40px;
        bottom: 100px;
        z-index: 100;
        transition: 1s;
    }
    .right-area-home img {
        width: 30px;
    }
    .topo {
        position: fixed;
        bottom: 5px;
        left: 20px;
        background-color: var(--fonte-escura);
        padding: 10px;
        font-size: 10pt;
        border-radius: 30px;
        border: none;
        color: #ffffff;
        z-index: 100;
    }
/*------------------------------------ SCROLL 1 ------------------------------------*/






/*------------------------------------ SCROLL 2 ------------------------------------*/
    #scrll2{
        margin-top: 200vh;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: scroll;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .left-section-QS {
        width: 30%;
        height: 90vh;
        margin-top: 5vh;
        margin-left: 5vh;
    }
    .left-section-QS img {
        width: 100%;
        object-fit: cover;
        border-radius: 50px 0 0 50px;
        height: 100%;
    }
    .right-section-QS {
        width: 50%;
        height: 90vh;
        margin-top: 20vh;
    }
    .tt-sobNos {
        text-align: right;
        margin-right: 5%;
        color: var(--fonte-escura);
        font-size: 22pt;
    }
    .text-area-QS {
        width: 90%;
        margin-left: 5%;
        text-align: right;
    }
    .text-here {
        font-size: 13pt;
    }
/*------------------------------------ SCROLL 2 ------------------------------------*/

/*------------------------------------ SCROLL 7 ------------------------------------*/
    #scrll3 {
        margin-top: 200vh;
        height: 100vh;
        overflow-y: scroll;
        margin-bottom: 50vh;
        overflow: hidden;
        text-align: center;
    }
    .imagens-area5 {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    #img-5-1 {
        width: 45%;
        height: 100%;
        object-fit: cover;
        transition: 300ms;
    }
    #img-5-2 {
        width: 27.5%;
        filter: brightness(50%);
        height: 100%;
        object-fit: cover;
        transition: 300ms;
    }
    #img-5-3 {
        width: 27.5%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
        transition: 300ms;
    }
/*------------------------------------ SCROLL 7 ------------------------------------*/



/*------------------------------------ SCROLL 3 ------------------------------------*/
    #scrll4 {
        margin-top: 200vh;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: scroll;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .right-objetivos {
        width: 30%;
        height: 90vh;
        margin-top: 5vh;
        margin-right: 5vh;
    }
    .right-objetivos img {
        width: 100%;
        object-fit: cover;
        border-radius: 0 50px 50px 0;
        height: 100%;
    }
    .left-objetivos {
        width: 50%;
        height: 90vh;
        margin-top: 20vh;
    }
    .tt-objetivos {
        text-align: left;
        margin-left: 5%;
        color: var(--fonte-escura);
        font-size: 22pt; 
    }
    .text-area-objetivos {
        width: 90%;
        margin-left: 5%;
        text-align: left;
    }
    .text-obj {
        font-size: 13pt;
    }
/*------------------------------------ SCROLL 3 ------------------------------------*/

/*------------------------------------ SCROLL 4 ------------------------------------*/
    #scrll5{
        margin-top: 200vh;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: scroll;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
/*------------------------------------ SCROLL 4 ------------------------------------*/


/*------------------------------------ SCROLL 5 ------------------------------------*/
    #scrll6 {
        margin-top: 200vh;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: scroll;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .left-objetivos-icons {
        display: flex;
        justify-content: center;

    }
    .left-objetivos-icons img {
        width: 100px;
        margin: 10% 2%;
    }
/*------------------------------------ SCROLL 5 ------------------------------------*/






/*------------------------------------ SCROLL 6 ------------------------------------*/
    #scrll7 {
        margin-top: 200vh;
        height: 100vh;
        overflow-y: scroll;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10vh;
    }
    .container img {
        width: 700px;
        height: auto;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
        border-radius: 15px;
    }
    .btnL {
        background-color:transparent;
        height: 700px;
        position: relative;
        left: 68px;
        padding: 22px;
        border: none;
        color: white;
        transition: 300ms;
        border-radius: 15px 0 0 15px;
        font-size: 25px;
    }
    .btnR {
        background-color:transparent;
        height: 700px;
        position: relative;
        right: 68px;
        padding: 22px;
        border: none;
        color: white;
        transition: 300ms;
        border-radius:  0 15px 15px  0 ;
        font-size: 25px;
    }
    .btnL:hover, .btnR:hover {
        background-color: rgba(75, 72, 72, 0.150);
        transition: 300ms;
    }
/*------------------------------------ SCROLL 6 ------------------------------------*/










/*------------------------------------ SCROLL 8 ------------------------------------*/
    #scrll8 {
        margin-top: 200vh;
        height: 100vh;
        overflow-y: scroll;
        overflow: hidden;
        text-align: center;
    }
    footer {
        height: 50%;
        background-color: #82c0df;
        width: 100%;
        position:relative;
        top: 50%;
    }
    .area-blocks-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo-footer {
        width: 100px;
        margin-bottom: 5%;
    }
    .block-1, .block-2, .block-3, .block-4 {
        color: #ffffff;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        padding-left: 10%;
    }
    .block-1 {
        border-right: 1px solid #ffffff;
    }
    .block-2 {
        padding-left: 2%;
    }
    .block-2 a {
        width: 80%;
        color: #ffffff;
    }
    .block-1 a, .block-3 a {
        color: #ffffff;
    }
    .block-3 {
        border-left: 1px solid #ffffff    ;
    }
    .icon-footer img {
        width: 30px;
        position: relative;
        right: 10px;
        top: 9px;
        padding: 1px;
    }
    .horario {
        width: 80%;
        
    }
/*------------------------------------ SCROLL 8 ------------------------------------*/





/*------------------------------------ RESPONSIVIDADE ------------------------------------*/
    @media screen and (max-width: 940px) {
            /*------------------------------------ SCROLL 1 ------------------------------------*/
            nav {
                width: 50%;
                display: flex;
                justify-content: right;
                text-align: center;
            }
            .logo img{
                  width: 400px;
            }
            .menu-content {
                display: none;
            }
            .area-menu-actived {
                position: fixed;
                right: 0px;
                top: -15px;
                display: block;
                height: 500px;
                background-color: var(--back-button);
                z-index: 100;
                border-bottom-left-radius: 15px;
                border-bottom: #4e8ebf 8px solid;
            }
            .logo-menu img {
                display: initial;
            }    
            .icon-contacts img, .icon-locale img, .icon-logists img {
                display: initial;
                margin-left: 10%;
                margin-right: 10%;
                width: 30px;
                position: relative;
                top: 7px;
            }
            li {
                list-style: none;
                color: #ffffff;
                width: 100%;
                font-size: 14pt;
                transition: 300ms;  
                text-align: left;
                margin: 50px 0 0 0;

            }
            li:hover{
                color: var(--hover-font);
                transition: 300ms;
            }
            .ativa-contatos {
                width: 80px;
                bottom: 15px;
                right: 15px;
            }
            .btn-act {
                z-index: 100;
                display: initial;
                position: fixed;
                right: 15px;
                top: 15px;
                background-color: transparent;
                border: none;
                font-size: 35pt;
                color: #9dcce9;
                transition: 500ms;
            }
            .btn-act-active {
                position: fixed;
                right: 63%;
                top: 50px;
            }
            /*------------------------------------ SCROLL 1 ------------------------------------*/


            /*------------------------------------ SCROLL 2 ------------------------------------*/

            .left-section-QS {
                width: 40%;
            }
            .right-section-QS {
                width: 60%;
                margin-top: 20vh;
            }
            .text-area-QS {
                width: 80%;
                margin-left: 15%;
                text-align: right;
            }
            .text-here {
                font-size: 13pt;
            }
        
            
            /*------------------------------------ SCROLL 2 ------------------------------------*/


            /*------------------------------------ SCROLL 3 ------------------------------------*/








            /*------------------------------------ SCROLL 4 ------------------------------------*/
            .container {
                margin-top: 15%;
            }
            .container img {
                width: 500px;
            }
            .btnL {
                height: 500px;
                padding: 24px;
                font-size: 20px;
            }
            .btnR {
                height: 500px;
                padding: 24px;
                font-size: 20px;
            }
            /*------------------------------------ SCROLL 4 ------------------------------------*/
        }

    @media screen and (max-width: 650px) {
            /*------------------------------------ SCROLL 1 ------------------------------------*/
            .center-home-logo{
                width: 100%;
                display:flex;
                justify-content: center;
            }
            .logo{
                font-size: 60px;
            }
            .right-area-home{
                bottom: 20px;
                right: 20px;
            }
            .center-home-logo{
                margin-top: 25vh;
            }
            /*------------------------------------ SCROLL 1 ------------------------------------*/

            /*------------------------------------ SCROLL 2 ------------------------------------*/

            .left-section-QS {
                width: 30%;
                margin-left: 0;
                height: 100%;
                margin-top: 0;
            }
            .left-section-QS img{
                border-radius: 0 0 0 0;
                box-shadow: 10px 10px 10px #0000001a;
            }
            .right-section-QS {
                width: 70%;
                margin-top: 10vh;
            }
            .text-here {
                font-size: 12pt;
            }
            #scrll2, #scrll4, #scrll5 {
                background-color: #ffffff;
            }
            /*------------------------------------ SCROLL 2 ------------------------------------*/


            /*------------------------------------ SCROLL 3 ------------------------------------*/

            .right-objetivos {
                width: 30%;
                margin-right: 0;
                height: 100%;
                margin-top: 0;
            }
            .right-objetivos img {
                box-shadow: 10px 10px 10px #0000001a;
                border-radius: 0;
            }
            /*------------------------------------ SCROLL 3 ------------------------------------*/



            /*------------------------------------ SCROLL 5 ------------------------------------*/
            #scrll6 {
                background-color: #ffffff;
            }
            .left-objetivos-icons {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .left-objetivos-icons img {
                width: 50px;
                margin: 10% 2%;
            }
            /*------------------------------------ SCROLL 5 ------------------------------------*/


            /*------------------------------------ SCROLL 6 ------------------------------------*/
            .container {
                margin-top: 30%;
            }
            .container img {
                width: 400px;
                z-index: -1;
            }
            .btnL {
                height: 400px;
                padding: 14px;
                font-size: 20px;
                left: 50px;
                z-index: 1;
            }
            .btnR {
                height: 400px;
                padding: 14px;
                font-size: 20px;
                right: 50px;
            }
            /*------------------------------------ SCROLL 6 ------------------------------------*/
            footer {
                height: 80%;
                position:relative;
                top: 20%;
            }
            .area-blocks-footer {
                display: block;
            }
            .block-1, .block-2, .block-3, .block-4 {
                color: #ffffff;
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: left;
                text-align: left;
                padding-left: 10%;
                margin-top: 15%;
            }
            .block-1 {
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
                padding-top: 5%;
            }
            .block-2 {
                padding-left: 10%;
                padding-bottom: 5%;
                border-bottom: 1px solid #ffffff;
            }
            .block-2 a {
                width: 80%;
                color: #ffffff;
            }
            .block-3 {
                border: none;
                padding-bottom: 5%;
            }
            .icon-footer img {
                width: 20px;
                position: relative;
                right: 10px;
                top: 3px;
                padding: 1px;
            }
            .horario {
                width: 90%;
                
            }
    }

    @media screen and (max-width: 450px) {
          .logo img{
              width: 300px;
          }
        .area-menu-actived {
            width: 70%;   
            height: 500px;
        }
        .btn-act-active {
            right: 80%;
        }
        .tt-sobNos {
            padding-right: 10%;
         }
        .text-area-QS {
            width: 80%;
            margin-top: 5%;
            margin-left: 5%;
            text-align: right;
            max-height: 50vh;
            overflow-y: auto;
            padding: 5px;
        }
        .text-here {
            font-size: 11pt;
        }
        .left-objetivos {
            margin-top: 2vh;
        }
        .text-area-objetivos {
            width: 100%;
            margin-left: 5%;
            margin-top: 5%;
            text-align: left;
            max-height: 50vh;
            overflow-y: auto;
            padding: 5px;
        }
        .text-obj {
            font-size: 11pt;
        }
        .text-area-QS::-webkit-scrollbar {
            width: 3px; 
        }
        .text-area-QS::-webkit-scrollbar-thumb {
            background-color: var(--hover-font); 
        }
        .text-area-QS::-webkit-scrollbar-track {
            background-color: transparent; 
        }
        .text-area-QS::-ms-scrollbar {
            width: 12px; 
        }
        .text-area-objetivos::-webkit-scrollbar {
            width: 3px; 
        }
        .text-area-objetivos::-webkit-scrollbar-thumb {
            background-color: var(--hover-font); 
        }
        .text-area-objetivos::-webkit-scrollbar-track {
            background-color: transparent; 
        }
        .text-area-objetivos::-ms-scrollbar {
            width: 12px; 
        }
        /*------------------------------------ SCROLL 4 ------------------------------------*/
        .container {
            margin-top: 45%;
        }
        .container img {
            width: 320px;
        }
        .btnL {
            height: 320px;
        }
        .btnR {
            height: 320px;
        }
        /*------------------------------------ SCROLL 4 ------------------------------------*/
    }

    @media screen and (max-width: 320px) {
        .btn-act {
            right: 20px;
            top: 20px;
            font-size: 25pt;
        }
        .logo img{
            width: 200px;
        }
        .area-menu-actived {
            width: 70%;   
        }
        .btn-act-active {
            right: 82%;
        }
        li {
            font-size: 10pt;
        }
        .center-home-logo{
            text-align: center;
        }
        .bebe {
            color: var(--botoes);
        }
        .ativa-contatos {
            position: fixed;
            bottom: 1px;
            right: 10px;
            width: 60px;
        }
        .left-objetivos {
        margin-top: 0;
        }
       .left-objetivos-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
        .left-objetivos-icons img {
        width: 40px;
        margin: 2% 2%;
        }
        .right-section-QS{
            width: 100%;
        }
        .text-area-QS {
            width: 85%;
            margin: 5%;
            text-align: right;
            max-height: 50vh;
            overflow-y: auto;
        }
        .text-here {
            font-size: 11pt;
        }
        /*------------------------------------ SCROLL 4 ------------------------------------*/
        .container {
            margin-top: 40%;
        }
        .container img {
            width: 250px;
            border-radius: 0;
        }
        .btnL {
            height: 250px;
            padding: 10px;
            font-size: 20px;
            left: 10px;
            background-color:rgba(75, 72, 72, 0.150);
        }
        .btnR {
            height: 250px;
            padding: 10px;
            font-size: 20px;
            right: 10px;
            background-color:rgba(75, 72, 72, 0.150);
        }
        /*------------------------------------ SCROLL 4 ------------------------------------*/

        footer {
            height: 100%;
            position:relative;
            top: 0;
        }
        .logo-footer {
            margin-bottom: 0;
        }
        .block-1, .block-2, .block-3, .block-4 {
            font-size: 9pt;
        }
        .block-1 {
            padding-top: 1%;
        }
        .block-2 {
            padding-bottom: 1%;
        }
    }
/*------------------------------------ RESPONSIVIDADE ------------------------------------*/













































/*
.buttons-QS a {
        width: 150px;
        text-align: center;
        color: var(--fonte-escura);
        margin: 2%;
        padding: 15px;
        border: none;
        font-size: 16pt;


        background-image: 
        linear-gradient(
            to bottom, transparent 0%, transparent 90%, var(--fonte-escura) 90%, var(--fonte-escura) 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 300ms;
    }
    .buttons-QS a:hover {
        background-size: 100% 100%;
        background-position-x: left;
    }


*/